{
"greeting" : {
"default" : {
"default" : [
"Hi.",
"Who're you?",
"Are you lost, too?"
],
"apex" : [
"Hi.",
"Are you THE Bigfoot?",
"Are you here to experiment on us?",
"You're very hairy. Like us. Except hairier.",
"We heard that a lot of bad guys that look like you are likely spying on us.",
"Are you spying on us?",
"Eeek! A spy! We're scared now!",
"Are you friendly?",
"Is Big Ape really real?"
],
"hylotl" : [
"Hi.",
"Hello!",
"Are you okay with us serving seafood here?",
"You're welcome to stay here, if you wish.",
"May peace be kept with the smart fishies.",
"We wish we could live underwater!",
"Nice fins."
],
"avian" : [
"Hi.",
"Hello!",
"Are you okay with us eating poultry here?",
"How's your day been?",
"Nice feathers.",
"Is your leader a figurehead?",
"You're the birds with the pretty gems!"
],
"human" : [
"Hi.",
"Hi!",
"What's up?",
"We feel bad for your loss.",
"What's the Protectorate?",
"We feel lost, too.",
"What's the new hit in the galaxy today?",
"Found any cool planets?"
],
"florans" : [
"Hi.",
"Hello.",
"We're just curious, that's all.",
"Everyone, stand back.",
"Excercising caution.",
"Excercising extreme caution.",
"Scary plant-things.",
"Please don't hurt us!",
"We need more officers here. Just in case.",
"Are you not like the rest of your kind?",
"We just want peace.",
"Please don't stir up trouble.",
"Please don't tell me you have a newspaper."
],
"glitch" : [
"Hi.",
"Hi!",
"Hello!",
"What's up?",
"Beep boop beep, hehe.",
"Got some cool stories of castles and kings?",
"I think robots are the coolest things ever.",
"We're like you, except organic.",
"It's so cool to meet you!",
"What battles have you fought?"
],
"novakid" : [
"Hi.",
"Hi!",
"Hello.",
"Hello!",
"What's the latest news from your home?",
"You're shining brightly today!",
"How do you use guns?",
"Cowboys as suns? Awesome!",
"You're a pretty chill star.",
"What's the wild wild west like?"
]
}
},
"converse" : {
"default" : {
"default" : [
"What's your name?",
"We're <selfname>, and who're you?",
"I'm doing research about our own species, it looks like we're actually doomed to extinction if it wasn't for genetic cloning!",
"Where did you come from?",
"We're lost. I can't find my way off of this planet.",
"The Florans are mostly hostile to us. We've lost too many lives thanks to them.",
"The Miniknog are constantly trying to watch us, that's why I don't like them.",
"Stay safe out there, strange friend.",
"We tried our best to make peace with the Florans years ago... It didn't end well...",
"Want to be friends?",
"I wonder why we have other breeds in our DNA...",
"Do you know who created us?",
"What's the answer to life, the universe, and everything?",
"Hehehehehehe, see that cop over there? He's not doing his job. Ready to cause some ruckus?",
"You're welcome to stay here.",
"Anything interesting going on?",
"Wanna rant about politics?",
"We need more lights here, it's too scary to go out at night!",
"It's strange to see the green guys of our kind on land.",
"The poisonus warriors really shouldn't hang out with us normally, they're dangerous.",
"If you meet a warrior that's too green, run."
],
"apex" : [
"We're a bit shy, sometimes.",
"Please don't view us as monsters. Thanks!",
"Are you part of the miniknog?",
"What's your name?",
"We're <selfname>, and who're you?",
"Do you know who created us?",
"Are we in a simulation?",
"Do you know our purpose?",
"What's your job like?",
"Where did you come from?",
"What's your home like?",
"You're hairy, like us. Hehe.",
"Did humans create your species?",
"Hey, I was wondering if you can identifiy this tag that is on us.",
"Do you have any treatments for fleas and ticks?",
"How bad is the Ape Flu?",
"So, who's this \"Big Ape\" guy. He sounds mean.",
"We lost our pen a year ago and we still can't find it.",
"Our computer's been acting strange lately."
],
"avian" : [
"We're a bit shy, sometimes.",
"Please don't view us as monsters. Thanks!",
"Don't worry, we don't bite.",
"Tell us more about your kind.",
"Are feathers warm?",
"Where's your wings?",
"Do buffalos actually have wings?",
"I like the colors of your feathers.",
"Are you vegan?",
"Anything interesting going on lately?",
"We just caught a bug, wanna see it?",
"Where did you come from?",
"Early bird gets the worm, right?"
],
"human" : [
"We're a bit shy, sometimes.",
"Please don't view us as monsters. Thanks!",
"Wanna play?",
"Where did you come from?",
"We don't like to call friends \"food\", but we can't help ourselves at times. It's instinct.",
"How's your job?",
"I wonder what it's like to explore the heavens.",
"Nani?",
"Anything interesting going on?",
"Wanna rant about politics?",
"We wonder what it's like to work on a space ship.",
"They locked up the forbidden fruit again.",
"What is love?",
"What's the purpose of life, the universe, and everything?"
],
"florans" : [
"We're a bit shy, sometimes.",
"Are you friendly?",
"Are you different?",
"Where did you come from?",
"We don't want another war.",
"We won't compete with you for meats, okay?",
"You pretty scarry-looking...",
"Do you rely on the sun?",
"Do you come in peace?",
"We won't eat you."
],
"glitch" : [
"What's it like to live in a castle?",
"What's up?",
"Teach us how to fight well, please!",
"Do you like to read?",
"Have you fought a dragon before?",
"You're so brave!",
"What do castles and forts look like in space?"
],
"hylotl" : [
"We like peace, too!",
"I'd love to learn about your culture!",
"Is oversleeping bad for our mental state?",
"We like seafood, too.",
"What's it like to have 3 eyes?",
"You'd definitely beat us in a swimming competition.",
"Do you know how to weave different types of silk?"
],
"novakid" : [
"We're a bit shy, sometimes.",
"Please don't view us as monsters. Thanks!",
"Where did you come from?",
"Are you an explorer?",
"Do you own equine?",
"I bet the darkness is never a problem for you.",
"We need to get a job, do you know where we could get one?",
"Anything interesting going on?",
"How's life going?"
],
"webber" : [
"Hey, how're you doing on this fine... Uh, crud, I'm getting my stuff jumbled up again.",
"Do you have any flea and tick treatment? We're covered in them right now and we could really use some help.",
"Wow, you're different.",
"I need to get a job, do you know where we could get one?",
"You notice the lag here? Oh gosh it's awful here!",
"I got a thing on my computer and it's asking for a thousand pixels. Can you help us?",
"Nani?!",
"Have you found any evidence of a Queen yet?",
"What's our purpose here, our purpose in life, where no one can hear you scream. No one can help you. All because everyone else from above simply doesn't give a crud about us. Don't you just wonder about this at times?",
"Do you know the way?",
"How good is your job?",
"We're simulated in a simulation. Snap back to reality. When's the last time you went on a walk? When's the last time ever since you actually talked to someone face-to-face?",
"I wear tinfoil hats whenever aliens visit. I don't like the idea of our minds being read.",
"I had eaten my cat who died a few years ago. It was tasty.",
"Some idiot just tried eating the big red berries without checking if they were ripe. I hope he gets that taste outta his mouth.",
"Avians are just big birds. We wish we could eat them, but we'd start a war over that.",
"We hiss back at florans. It's actually pretty satisying.",
"Gosh, I'm craving buffalo wings again.",
"Do buffalos actually have wings?",
"Have you heard the news lately?",
"We heard we just got a radio message from a different planet. I wonder if the scientists are checking it out?",
"We need more lights here, it's too scary to go out at night!",
"Hello, we're <selfname>, and we don't know what the heck we're doing here.",
"We're surprised by the very existance of other civilizations of our own kind.",
"I heard of some of the other webber civilizations were ruled over by kings. We hope those kings aren't real bullies.",
"We finally won a game of stick swords, but we're still just a superloser.",
"Wanna roleplay?",
"Wanna play?",
"Hehehehehehe, see that cop over there? He's not doing his job. Ready to cause some ruckus?",
"We don't like to call friends \"food\", but we can't help ourselves at times. It's instinct.",
"Why do we all look alike? This is worrying.",
"I'm bored.",
"I played sick to avoid school once. No one fell for it and now I'm called a liar.",
"I wish I could find out more about myself.",
"We need medical assistance!",
"The Miniknog are constantly trying to watch us, that's why I don't like them.",
"Medic!",
"We broke our legs before. Our last words before that happened were \"Hey, watch this!\"...",
"We've been training our entire lives towards killing piggies, and it's only now since I found out they all were just confirmed to be exinct...",
"I wonder why porkchops are never on sale.",
"Anything interesting going on?",
"Wanna rant about politics?",
"We wonder what it's like to work on a space ship.",
"They locked up the forbidden fruit again.",
"What is love?",
"The green guys in the sewers are just misunderstood. I heard that they're all living in filth and disease down there because of our leaders' views, and we feel bad for them.",
"How do people even cope with living in the darkness?"
]
}
},
"accuse" : {
"default" : {
"default" : [
"HIISSSSSS, they're stealing our stuff!",
"Stop taking our stuff, it's not yours!",
"Thief!",
"Thieves are food, not friends!"
]
}
},
"alert" : {
"default" : {
"default" : [
"Guards! Guards! We need your support! They're robbing us!",
"Looks like we're having a thief for dinner tonight!",
"HISSSSSSSSSSSSSSS, give the nasty little thief a trip to prison!"
]
}
},
"tagCriteria" : {
"default" : {
"default" : [
"Are we missing something?",
"Our home is changed to a way we didn't want it to.",
"I don't like these changes to my home."
]
}
},
"enclosedArea" : {
"default" : {
"default" : [
"Oh no! Our home is damaged!",
"I don't want to live unprotected from nasty weather!",
""
]
}
},
"otherDeed" : {
"default" : {
"default" : [
"Oh, how RUDE! Someone wants to invade our living quarters!",
"We'd like to have our own personal space, thanks.",
"Is this place going through overpopulation?"
]
}
},
"severe" : {
"default" : {
"default" : [
"We're ready to pack our bags.",
"We're really upset with these poor conditions."
]
}
},
"final" : {
"default" : {
"default" : [
"We're out of here. I better get my money back after this.",
"What a disapointment! We'll live somewhere else."
]
}
},
"beacon" : {
"default" : {
"default" : [
"What do you need help with?",
"Wanna talk?"
]
}
},
"rent" : {
"default" : {
"default" : [
"We don't have much, but here's a gift for you!",
"I hope you're having a wonderful day today, because I've got a gift for you!"
]
}
},
"cheerOn" : {
"default" : {
"default" : [
"We'll win this battle!"
]
}
},
"helpme" : {
"default" : {
"default" : [
"Help us! Our fangs aren't good for self-defense!",
"Help! We have eight legs, but none have a weapon in them!",
"We're scared! We don't want to fight!",
"Please don't hurt us, we're not tasty!"
]
}
},
"helpthem" : {
"default" : {
"default" : [
"Someone's in trouble! We'll go get the guards!",
"We'll help save you!"
]
}
},
"encourage" : {
"default" : {
"default" : [
"We'll win this battle!"
]
}
},
"safe" : {
"default" : {
"default" : [
"Phew, that was close!",
"We're not gonna be able to sleep tonight.",
"That was scarry!",
"Am I safe?"
]
}
}
}